.error__container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: 30px;
}

.error__positive {
  color: #1B9B45;
}

.error__negative {
  color: #F43E61;
}
.error__button {
  background-color: #1B9B45;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  padding: 6px 12px;
  text-align: center;
  margin: 20px 0px;
  width: 100px;
}